<?xml version="1.0"?>
<launch>

  <!-- description file for robot -->
  <param name="robot_description"
   command="$(find xacro)/xacro.py '$(find robotis_op_description)/urdf/robotis_op2.xacro'" />

  <!-- robot_state_publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- joint_state_publisher node with GUI -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">  
    <param name="use_gui" value="true" />
  </node>

  <!-- rviz node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotis_op_description)/rviz_config.rviz" respawn="true" />

</launch>

